fastapi
uvicorn
dash
dash-bootstrap-components
pandas
httpx
sqlalchemy
alembic
passlib[bcrypt]
python-dotenv

# Additional libraries
selenium
requests

# Tools for testing & formatting
pytest
pytest-cov
pytest-asyncio
pylint
black
