name: Python CI

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.12'

      - name: Install compatible Google Chrome version
        run: |
          sudo apt-get update
          sudo apt-get install -y google-chrome-stable
          CHROME_VERSION=$(google-chrome --version | grep -oP '\d+' | head -1)
          CHROMEDRIVER_VERSION=$(curl -s "https://chromedriver.storage.googleapis.com/LATEST_RELEASE_$CHROME_VERSION")
          wget -O chromedriver.zip "https://chromedriver.storage.googleapis.com/${CHROMEDRIVER_VERSION}/chromedriver_linux64.zip"
          unzip chromedriver.zip
          chmod +x chromedriver
          sudo mv chromedriver /usr/local/bin/



              
      - name: Install dependencies
        working-directory: AGRO_CLIMA_APP/AGRO_CLIMA_APP
        run: |
          pip install --upgrade pip
          pip install -r requirements.txt

      - name: Start FastAPI backend
        working-directory: AGRO_CLIMA_APP/AGRO_CLIMA_APP
        run: |
          nohup python -m uvicorn app.main:app --host 127.0.0.1 --port 8000 &
        env:
          PYTHONPATH: .

      - name: Start frontend
        working-directory: AGRO_CLIMA_APP/AGRO_CLIMA_APP
        run: |
          nohup python frontend.py &
        env:
          PYTHONPATH: .

      - name: Wait for servers to start
        run: sleep 05
        


      - name: Check chromedriver permissions
        run: |
          ls -l /usr/bin/chromedriver
          which chromedriver
          
      - name: Run tests
        working-directory: AGRO_CLIMA_APP/AGRO_CLIMA_APP
        run: |
          python -m pytest --cov=app tests/
